@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('https://images.unsplash.com/photo-1492691527719-9d1e07e534b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80')
}
.bodys {
  background-color: rgba(34, 33, 33, 0.575);
}

.bgImage {
  background-image: url('C:\Projects Nextjs\NextJS-Tailwind-Responsive\public/imgLateral.png');
}
.buttonBack {
  width:60px;
    height: 60px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(245, 188, 18);
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}